[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
selenium = "*"
chromedriver-binary = "~=77.0.3865.40.0"
behave = "*"

[requires]
python_version = "2.7"
